{% set pageTitle = 'Mainpage' %}
{% set pageClass = 'p-main' %}
{% extends "layouts/default.twig" %}

{% block content %}
    <div id="example-app">
        <example-app></example-app>
    </div>
{% endblock %}
